body {
  font-family: 'Roboto Slab', serif;
  text-align: center
}

.cleared {
  clear: left;
}

.hey-you {
  font-size: 100px;
}

.question {
  font-size: 40px;
}

.center-div {
  display: inline-block;
}

#face {
  float: left;
}

a {
  font-size: 24px;
  text-decoration: none;
  display: block;
  float: left;
  margin-top: 80px;
  margin-right: 30px;
  margin-left: 30px;
  
}

a:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}